:root {
    --navbar-bg-color: #B1040E; /* 2. Header container color */
    --footer-bg-color: #B1040E; /* 3. Footer background color*/
    --footer-container-bg-color: #B1040E; /* 4. Footer container color */
    --btn-hover-color: #820000;  /* 6. Menu button hover color */
    --btn-active-color: #da0c23; /* 7. Menu button active color */
}

#segment-footer > .container {background-color: #B1040E;}
.navbar-inverse {background-color: #B1040E;}